.skill {
  padding-top: 10rem;
}
.title {
  font-size: var(--title-font);
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.chart {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
