.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.title {
  font-size: var(--title-font);
}
.description {
  text-align: center;
  font-size: var(--description-font);
}

.about__majors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__jobs {
  width: 80%;
  margin: 2rem 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .about__majors {
    flex-direction: column;
  }
}
