.major {
  text-align: center;
  margin: 1rem;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--sub-dark);
  border: 1px solid var(--sub-dark);
  border-radius: 50%;
  margin-bottom: 16px;
  transition: transform 200ms ease-in-out;
}

.major__icon:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transform: scale(1.1) rotate(-15deg);
}
.major__title {
  font-size: var(--sub-title-font);
}
